You are given the following three documents.

- Transform this data into a bag of words representation, with simple counts. How informative is this format? How much information do you have about individual words?
- Calculate Euclidean and cosine distances between each pair of documents. How do these distances relate to your intuition for the documents' similarities?
- Calculate one minus the cosine distance between each pair of de-meaned documents, and the Pearson correlation coefficient between each pair of documents. How are they related? Is this a coincidence? Find a counterexample or prove that there isn't one.

In [1]:
text = ["wookie stormtrooper",
        "wookie wookie wookie stormtrooper stormtrooper stormtrooper",
        "harry potter"]

In [8]:
from nltk.tokenize import word_tokenize

words = []
for i in text:
    words.append(word_tokenize(i))

In [9]:
words

[['wookie', 'stormtrooper'],
 ['wookie',
  'wookie',
  'wookie',
  'stormtrooper',
  'stormtrooper',
  'stormtrooper'],
 ['harry', 'potter']]

In [12]:
from textblob import TextBlob

words1 = []
for i in text:
    
    words1.append(TextBlob(i).words)

In [13]:
words1

[WordList(['wookie', 'stormtrooper']),
 WordList(['wookie', 'wookie', 'wookie', 'stormtrooper', 'stormtrooper', 'stormtrooper']),
 WordList(['harry', 'potter'])]

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorizer.fit(text)

print vectorizer.get_feature_names()
print vectorizer.vocabulary

[u'harry', u'potter', u'stormtrooper', u'wookie']
None

Pair Problem #2

Imagine a data matrix with three rows and two columns. Each row represents an observation, and each column represents a feature. (This is our usual convention.)

Imagine subtracting out the column means.

Imagine multiplying the transpose of this matrix by itself.

Don't just imagine itâ€”write this out!

What familiar calculation is this? What result have you produced?

In [31]:
import pandas as pd
import numpy as np

In [36]:
m = pd.DataFrame([[1,12], [3,34], [55,6]])

In [37]:
m

    0   1
0   1  12
1   3  34
2  55   6

In [38]:
means = np.mean(m)
m2 = m - means
m2

           0          1
0 -18.666667  -5.333333
1 -16.666667  16.666667
2  35.333333 -11.333333

In [39]:
covar= np.dot(m2.T, m2)
covar

array([[ 1874.66666667,  -578.66666667],
       [ -578.66666667,   434.66666667]])